.main{
    display: flex;
    flex-direction: row;
    font-family: 'Century Gothic';
}


.header{
    width: 100vw;
    background-color: white;
    box-shadow: 1px 4px 6px 0px rgba(181,172,181,0.8);
    display: flex;
    flex-direction: row;
    z-index: 101;
    justify-content: center;
    font-family: 'Century Gothic';
    position: fixed;
    height: 6vh;
}

.header a{
    margin: 0.8% 3% 0.5% 3%;
}

.catA{
    display: none;
}


.title{
    margin-top: -3%;
    font-size: x-large;
}

.info{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 93.8vh;
    margin-top: 3%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.bgImagen{
    opacity: 0.9;
}

.divPrincipal{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    height: 100vh;
    z-index: 1;
}

.divNomLogo{
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.logo{
    position: relative;
    width: 15vw;
    height: 30vh;
    border: 0.1rem solid black;
    border-radius: 5%;
}


.divNombre{
    background-color:#f0f8ff;
    margin: auto;
    width: 35vw;
    padding: 1vw;
    z-index: 1;
}

.info h1{
    font-size: xx-large;
}

.historia{
    background-color:aliceblue;
    width: 25vw;
    margin: 1vw 1vw 0 0 ;
    margin-left: auto;
    padding: 1vw;
    z-index: 1;
    text-align: justify;

}

.historia p{
    font-style: oblique;
}

.historia2{
    background-color:aliceblue;
    width: 23vw;
    text-align: justify;
    margin-left: 1vw;
    margin-bottom: 10vh;
    padding: 1vw;
    z-index: 1;
}

.historia2 p{
    font-style: oblique;
}

.divIcons{
    margin-left: 12vw;
    margin-top: 15vh;
}

.divProduccion{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;    
    height: 98vh;
}

.divProduccionTitle{
    background-color: #f0f8ff;
    padding: 3%;
    margin: 3%;
    z-index: 1;
}

.divProduccionText{
    background-color: aliceblue;
    text-align: justify;
    width: 23.5vw;
    margin: 15vh 3vh 0 3vh;
    padding: 1vw;
    z-index: 1;
}

.divProduccionText2{
    background-color: aliceblue;
    text-align: justify;
    width: 23.5vw;
    margin: 0 3vh 50vh auto;
    padding: 1vw;
    z-index: 1;
}

.imagen{
    width: 25vw;
    height: 46.5vh;
    position:absolute;
}

.divGeografia{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0vh;
    height: 98vh;
    align-items: center;
}

.divGeografiaTitle{
    background-color: aliceblue;
    padding: 3%;
    margin: 3%;
    z-index: 1;
    width: 46.5vw;
}

.divMapa{
    z-index: 1;
    margin-bottom: 50vh;
}

.divCertificados{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 98vh;
}

.divCertificadosTitle{
    background-color:aliceblue;
    padding: 3%;
    margin: 3%;
    z-index: 1;
}

.divCertificadosList{
    margin-bottom: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.certCont{
    width: 12vw;
    height: 30vh;
    position: relative;
    margin: 2vw;
    transition: .2s;
}

.certCont:hover{
    box-shadow: 0px 0px 4px 6px rgb(255, 255, 255);
}

.catalogo{
    width: 50vw;
    height: 93.8vh;
    overflow-y: auto;
    background-color: aliceblue;
    margin-top: 3%;
    text-align: center;
    z-index: 100;
}

.titleCat{
    font-size: x-large;
    margin-top: 2%;
}

.productos{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.divDefaultR{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1300px) {


    .divNomLogo{
        margin-top: 2vh;
    }

    .logo{
        height: 22vh;
    }

    .divPrincipal{
        height: 100vh;
    }

    .divProduccion{
        height: 100vh;
    }

    .divGeografia{
        height: 100vh;
    }

    .divCertificados{
        height: 100vh;
    }


    .historia p{
        font-size: .9rem;
    }

    .historia2 p{
        font-size: .9rem;
    }

    .historia2{
        font-size: .9rem;
        margin-bottom: 20vh;
    }

    .divIcons{
        margin-left: 8vw;
    }

    .titleCat{
        margin-top: 3vh;
    }


}

@media screen and (max-width: 1030px) {

    .header{
        font-size: small;
    }

    .info p{
        font-size: small;
    }

    .info{
        overflow-x: hidden;
    }

    .mapa{
        width: 400px;
    }

    .certCont{
        width: 15vw;
    }

}

@media screen and (max-width: 800px) {

    .header{
        height: 5vh;
    }

    .mapa{
        width: 300px;
    }

    .logo{
        height: 20vh;
    }

    .divNomLogo{
        margin-top: 5vh;
    }

    .historia h1{
        font-size: 1.2rem;
    }

    .divIcons{
        margin-left: 5vw;
    }

}

@media screen and (max-width: 725px) {

    .main{
        flex-wrap: wrap;
        height: 100%;
    }

    .info{
        width: 100vw;
        height: 100%;
    }

    .divPrincipal{
        width: auto;
    }

    .catalogo{
        width: 100vw;
        height: 100%;
    }

    .header a{
        font-size: .6rem;
    }

    .title{
        font-size: medium;
    }

    .header{
        height: 4vh;
    }

    .divNombre{
        margin-left: 0;
        width: 85vw;
    }

    .historia{
        width: 48vw;
        margin-right: 2vw;
        font-size: 3rem;
    }

    .historia2{
        width: 46vw;
        margin-left: 2vw;
    }

    .logo{
        width: 25vw;
    }

    .certCont{
        width: 30vw;
    }

    .divProduccionText{
        width: 46vw;
    }

    .divProduccionText2{
        width: 46vw;
    }

    .catalogo{
        padding-top: 2vh;
        margin-top: 0;
    }

    .divGeografiaTitle{
        width: 92vw;
    }

    .mapa{
        width: 500px;
    }

    .catA{
        display: inline;
    }

}


@media screen and (max-width: 630px) {

    .mapa{
        width: 350px;
    }

    .header a{
        font-size: .68rem;
        margin-left: 0;
        margin-right: 2vw;
    }

    .title{
        visibility: hidden;
        width: 0;
        margin: 0;
    }

    .logo{
        width: 35vw;
    }

    .divProduccionText{
        margin-top: 10vh;
    }

    .historia{
        padding: 3vw;
    }
    .historia2{
        padding: 3vw;
    }
    .divProduccionText{
        padding: 3vw;
    }
    .divProduccionText2{
        padding: 3vw;
    }



}
