.divProducto{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    transition: .3s;
}

.divProducto:hover{
    box-shadow: 0px 6px 5px 2px rgba(209,202,209,1);
}

.divProductoText{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

.divProductoText h1{
    font-size: large;
}

.modalTitle{
    font-size: xx-large ;
}

.modalBody{
    display: flex;
    flex-direction: column;
}

.modalDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
}

.divComprar{
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.divComprar h2{
    margin-bottom: 6vw;
}

.divFoto{
    width: 20vw;
    height: 35vh;
    margin-right: 1vw;
    border-radius: 2rem;
    position: relative;
}

.modalBody h2{
    font-size: x-large;
}