.divProducto{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}

.divProductoText{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

.divProductoText h1{
    font-size: large;
}



.modal h1{
    font-size: xx-large ;
    margin-bottom: 2vw;
}


.modal h2{
    font-size: large;   
}