main{
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(16, 247, 255);
}

.header-empresa{
  display: flex;
  flex-direction: row;
}

.header-empresa-1{
  display: flex;
  flex-direction: column;
  margin: 1%;
  margin-left: 4%;
  padding: 1%;
}

.div-logo{
  border-radius: 1rem;
  background-color: white;
  display: block;
  position: relative;
  width: 15rem;
  height: 8rem;
}